body{
	background: #000000;
}

a{

}

a:hover{
	cursor: pointer !important;
}

.mainApp{
	/*background:url('../images/wallpaper.jpg') no-repeat top center;*/
	/*background: #FCFCFC;*/
	background: #181818;
	margin: 0 auto;
	width: 1090px;
	/*background-size: cover;*/
	/* height: 1265px !important; */
	height: 1890px !important;
	overflow: hidden;
	/*border: 1px solid #bbb;*/
}

.main-menu{
	font-size: 20px;
	margin-bottom: 20px;
	background: #262626;
	border: none !important;
	border-radius: 0px !important;
}

.main-menu-background{
	background: #262626;
	width: 100%;
	height: 50px;
}

.main-menu li a:focus{
	color: #ffffff;
	background: #16A8F5 !important;
	outline: none;
}

.main-menu li a:hover{
	/*background: #2980B9 !important;*/
	background: #16A8F5 !important;
	color: #ffffff;
}

.main-menu li a{
	color: #E1E1E1 !important;
}

/* background for status bar */
.statusbar{
	background: #181818;
	width:100%;
	color: #16A8F5;
	height: 40px;
}

.btn-primary{
	background: #515151 !important;
	border: none !important;
	color: #ECF0F1;
}

h5{
	/*color: #3C629E !important;*/
	color: #ccc;
	text-align: left !important;
	font-size: 18px !important;
	font-weight: bold !important;
}

/* touching boxes */
.boxes-touch{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin: 0px !important;
}

.shortcut-background{
	/*border: 1px solid #bbb;*/
	/*background: #F4F4F4;*/
	background: #262626;
	color: #FFFFFF;
	min-height: 100px;
	height: auto;
	/* height: 165px; */
	padding:10px;
	text-align: center;
	margin-bottom: 30px;
	
}

.shortcut-background:hover{
	/*background: #3c629e;*/
	/*color: #415068;*/
	cursor: pointer;
}

.apps-background{
	/*border: 1px solid #bbb;*/
	background: #262626;
	color: #FFFFFF;
	min-height: 100px;
	/* height: auto; */
	height: 200px;
	padding:10px;
	text-align: center;
	margin-bottom: 30px;
}

.apps-background:hover{
	/*background: #3c629e;*/
	/*color: #415068;*/
	cursor: pointer;
	opacity: 0.5;
}

.mainarea{
	padding-left: 0px;
	padding-right: 0px;
}

.deleteBox{
	float: left;
	margin: -10px;
	z-index: 3;
}

.addBox{
	top: 0px;
	left: 15px;
	z-index: 3;
	position: absolute;
}

.closeMe{
	float: right;
	
}

.nav-pills li a{
	border-radius: 0px;
}

/* center the modal vertically */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

hr{
	/*border-top: 1px solid #3C629E !important;*/
	border-top: 1px solid #ccc !important;
}

/* spotify widget responsive */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 50;
        left: 0;
        width: 100%;
        height: 100%;
}

/* weather full screen */
div.aw-widget-36hour-inner{
	margin: 0 center !important;
}

/* style override */
.navbar-collapse{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* modal styles */
.modalBox, .modal-body, .modal-footer{
	background: #181818;
	border: none !important;
	color: #CCCCCC;
}

/* nav dropdown for shortcuts */
.dropdown-menu{
	background: #515151;
	border: none !important;
	color: #CCCCCC;
	border: 1px solid #ccc;
}

.dropdown-menu li a:hover{
	background: #15A6F3 !important;
}

.blue-text{
	color: #16A8F5;
}

.white-text{
	color: #f5f5f5;
}

/* Calendar Paper */
.paper{
  background: #ffffff;
  width: 100%;
  height: 70%;
  margin-bottom: 10px;
}

.paper h1{
	font-size: 10.5em !important;
	text-align: center;
	color: #585858;
	margin: 0px !important;
}

/* actual calendar */
.dates{
  background: #ffffff;
  height: 50%;
  padding: 3px !important;
  margin-bottom: 6px !important;
}

.dates h1{
	font-size: 9em !important;
	text-align: center;
	color: #585858;
	margin: 0px !important;
}

.daysofWeek{
	background: #16A8F5 !important;
	height: 6%;
	padding: 5px;
	text-transform: uppercase;
}

.days{
	margin-bottom: 30px;
}

/* month div */
.month{
	background: #16A8F5 !important;
	width: 100%;
	height: 6%;
	padding: 5px;
	text-transform: uppercase;
}

.month h3{
	font-size: 2.5em !important;
	color: #ffffff;
}