<div class="carsettings" ng-controller="settings">
    <img src="./images/settings/carsettings.jpg" class="img-responsive" />
    <!--pulse -->
    <div class="pulsingArea" ng-repeat="t in settingToggle" ng-if="t.active==true">
        <div class="load" ng-style="{'position': 'relative', 'top': t.pulse.y+'px', 'left': t.pulse.x+'px'}">
        </div>
        <h4 class="carText">{{t.name}}</h4>
    </div>
    <h6>Quick Settings </h6>
    <table class="table" ng-controller="driving">
        <tbody>
            <tr class="inboxArea" ng-repeat="s in settingToggle" ng-if="$index < 3">
                <td>
                    <!--<img ng-src="{{s.image}}" class="img-responsive" />
                    <br/>-->
                    <strong class="white">{{s.name}}</strong>
                </td>
                <td class="text-left">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'ON'" uib-uncheckable="uncheckable" ng-click="s.active=!s.active" ng-class="{'active': s.active==true}">ON</label>
                        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'OFF'" uib-uncheckable="uncheckable" ng-click="s.active=!s.active" ng-class="{'active': s.active==false}">OFF</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary btn-lg">View Settings</button>
</div>
