<div class="col-md-12 shortcut-background">
    <h4 class="text-left white">AC/Heat Controls</h4>
    <div class="col-md-6">
        <ul class="nav nav-justified">
            <li><img src="./images/icons/climate.png" class="img-responsive" /></li>
            <li><img src="./images/icons/ac.png" class="img-responsive" /></li>
            <li><img src="./images/icons/rear.png" class="img-responsive" /></li>
            <li><img src="./images/icons/airflow.png" class="img-responsive" /></li>
            <li><img src="./images/icons/airflow2.png" class="img-responsive" /></li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-6">
        <knob></knob>
    </div>
</div>
