<div class="col-md-12 shortcut-background">
    <h4 class="text-left white">AC/Heat Controls</h4>
    <div class="col-md-6">
        <ul class="nav nav-justified" >
            <li><img src="./images/icons/climate.png" ng-init="a=false;" class="img-responsive cars" ng-click="a=!a" ng-class="{'reg': a==true}"/></li>
            <li><img src="./images/icons/ac.png" ng-init="b=true;" class="img-responsive cars" ng-click="b=!b" ng-class="{'reg': b==true}"/></li>
            <li><img src="./images/icons/rear.png" ng-init="c=false;" class="img-responsive cars" ng-click="c=!c" ng-class="{'reg': c==true}" /></li>
            <li><img src="./images/icons/airflow.png" ng-init="d=true;" class="img-responsive cars" ng-click="d=!d" ng-class="{'reg': d==true}"/></li>
            <li><img src="./images/icons/airflow2.png"  ng-init="e=false;" class="img-responsive cars" ng-click="e=!e" ng-class="{'reg': e==true}" /></li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-6">
        <knob></knob>
    </div>
</div>
