<div class="colds">
    <div class="base-circle">
    </div>
    <div class="color-circle">
    </div>
    <div class="knob-circle">
      <h3 class="ups"><i class="fa fa-arrow-up"></i></h3>
      <h3 class="downs"><i class="fa fa-arrow-down"></i></h3>
    </div>
    <span id="text-readout"><span class="degree">&deg;</span></span>
</div>

<div class="heats">
    <div class="base-circle">
    </div>
    <div class="color-circle-heat">
    </div>
    <div class="knob-circle">
      <h3 class="ups-heat"><i class="fa fa-arrow-up"></i></h3>
      <h3 class="downs-heat"><i class="fa fa-arrow-down"></i></h3>
    </div>
    <span id="text-readout-heat"><span class="degree">&deg;</span></span>
</div>
