<div class="container">
	<div class="row" ng-style="{'margin': '15px'}">
		<div ng-controller="musicPlayer">
			<div class="largeDisplay" class="col-md-12 col-lg-12">
			</div>

			<div class="playlist" class="col-md-12 col-lg-12" ng-repeat="m in musicList" ng-if="Song == $index">
				<h3><strong>Artist:</strong> {{ m.name }}</h3>
				<div ng-repeat="t in m.tracks"> 
					<p><strong>Song:</strong> {{ t.songName }}</p>
					<button class="btn btn-primary btn-lg" ng-click="audio.loadAudio(t.audio)"><i class="fa fa-play"></i></button>
					<button class="btn btn-primary btn-lg" ng-click="audio.pauseAudio(t.audio)"><i class="fa fa-pause"></i></button>
					<button class="btn btn-primary btn-lg" ng-click="audio.stopAudio(t.audio)"><i class="fa fa-stop"></i></button>
					<button class="btn btn-primary btn-lg" ng-click="audio.prevTrack($index); audio.stopAudio(t.audio);"><i class="fa fa-step-backward"></i></button>
					<button class="btn btn-primary btn-lg" ng-click="audio.nextTrack($index); audio.stopAudio(t.audio);"><i class="fa fa-step-forward"></i></button>
					<hr/>
				</div>
			</div>
</div>
	</div>
</div>
