	<div class="shortcut-background animated zoomIn" ng-click="goTo(s.link)" ng-style="{'background-color': s.background}">
	<button class="btn btn-primary deleteBox" ng-click="deleteBox($index, 'Delete Shortcut', s.name, 'partials/modal.html', shortcutList, sm)"><i class="fa fa-trash"></i></button>
		<p><h1><i class="{{s.icon}}"></i></h1></p>
		<h3>{{ s.name }}</h3>
		<p><small>{{ s.link }}</small></p>
	</div>
<div class="empty" ng-if="shortcutList.length===0">
		<h1>Nothing Seems to be here. <i class="fa fa-frown-o"></i></h1>
</div>
