	<div class="shortcut-background animated fadeIn"  ng-style="{'background-color': s.background}">

	<!-- Single button -->
    <div class="btn-group deleteBox" uib-dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu animated fadeIn" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a ng-click="deleteBox($index, 'Delete Shortcut', s.name, 'partials/modal.html', shortcutList, sm, voice, 'US English Female')"><i class="fa fa-trash"></i> Remove</a></li>
        <li role="menuitem"><a ng-href="#/apps/store">View in App Store</a></li>
        <li role="menuitem"><a href="#">Properties</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a ng-click="goTo(s.link)"><i class="fa fa-desktop"></i> Go to App</a></li>
      </ul>
    </div>

		<h1><i class="{{s.icon}}" ng-style="{'font-size': '3em'}" ng-mouseover="voice.speak(s.name)"></i></h1>
		<h6 class="text-center">{{ s.name }}</h6>
		<!--<p><small>{{ s.link }}</small></p>-->
    <button class="btn btn-primary btn-lg" ng-click="goTo(s.link); voice.speak('Viewing '+s.name);"><i class="fa fa-desktop"></i> View App </button>
	</div>
<div class="empty" ng-if="shortcutList.length===0">
		<h1>Nothing Seems to be here. <i class="fa fa-frown-o"></i></h1>
</div>
