	<div class="shortcut-background animated fadeIn" ng-click="goTo(s.link)" ng-style="{'background-color': s.background}">
	<button class="btn btn-primary deleteBox" ng-click="deleteBox($index, 'Delete Shortcut', s.name, 'partials/modal.html', shortcutList, sm)"><i class="fa fa-trash"></i></button>

	<!-- Single button -->
    <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
        Dropdown on Body <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>

		<p><h1><i class="{{s.icon}}"></i></h1></p>
		<h3>{{ s.name }}</h3>
		<p><small>{{ s.link }}</small></p>
	</div>
<div class="empty" ng-if="shortcutList.length===0">
		<h1>Nothing Seems to be here. <i class="fa fa-frown-o"></i></h1>
</div>
