
	<a href="http://www.accuweather.com/en/us/las-vegas-nv/89101/driving-current-weather/329506" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a>
<div class="center-block centerThis">
<div id="awtd1461599284727" class="aw-widget-36hour" data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awtd1461599284727" data-editlocation="true" data-lifestyle="driving"></div>
</div>