<div class="container">
	<div class="row">
	<real-calendar id="calendar"></real-calendar>
		<!--<div class="calendar animated fadeIn" ng-controller="calendar" >
	 	<div class="col-md-12 col-lg-12">
	 		<h1 class="white-text">Calendar</h1>
	 		<h3 class="blue-text">Today is {{getDays}}. {{currentMonth}} {{calendarDay}}, {{getYear}}</h3>
	 	</div>


		<div class="col-md-2 col-lg-2 days" ng-repeat="n in getAllDays">
		<div class="dates">
			<h1>{{ n }}</h1>
		</div>
			
		<button class="btn btn-primary btn-lg" ng-click="goTo('/apps/calendar')"><i class="fa fa-plus"></i></button>
		</div>-->
    </div>
	</div>
</div>
