<div class="container">
    <div class="row">
        <div class="mailAreas" ng-controller="mail">
            <div class="tabbing">
                <div class="col-md-2 col-lg-2 clickArea animated fadeIn">
                    <button class="btn btn-primary btn-lg button-wide">Compose</button>
                    <div class="profile" ng-repeat="p in contacts" ng-if="p.me">
                        <h4 class="padding text-center white">{{p.name}}</h4>
                        <img ng-src="./images/{{p.photo}}" class="img-responsive img-circle padding" />
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="m in mailsTabs">
                            <h3 class="text-center"><a ng-href="{{m.link}}" class="white"><i class="{{m.icon}} blue"></i> {{ m.title }}</a></h3></li>
                    </ul>
                </div>
                <!--email-->
                <div class="col-md-4 col-lg-4 animated fadeIn">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="i in inbox" class="inboxArea" ng-click="getIndex($index)" ng-class="{'mail-light': message==$index}">
                                <td>
                                    <strong>{{ i.title }}</strong>
                                    <br/>
                                    <strong class="gray">{{ i.from }}</strong>
                                </td>
                                <td><strong>{{ i.date }}</strong>
                                    <br/>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-reply"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- view message -->
                <div class="col-md-6 col-lg-6 mails ">
                    <div class="animated fadeIn inside" ng-repeat="i in inbox" ng-if="message==$index">
                        <h2>{{i.title}}</h2>
                        <h6>From: {{i.from}} <{{i.fromEmail}}></h6>
                        <hr/>
                        <p>{{i.message }}</p>
                        <div class="form-group">
                            <label for="comment">Reply:</label>
                            <textarea class="form-control" rows="5" id="comment" ng-model="yourModel" ng-virtual-keyboard="{forcePosition: 'bottom', size: 3, imageURI: 'images/keyboard.png'}"></textarea>
                            <button class="btn btn-primary btn-md pull-right"><i class="fa fa-reply"> Reply</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
