<div class="container">
    <div class="row">
        <div class="mailAreas" ng-controller="mail">
            <h5 class="white">Mail</h5>
            <div class="tabbing">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 clickArea animated fadeIn">
                    <button class="btn btn-primary btn-lg button-wide">Compose</button>
                    <div class="profile" ng-repeat="p in contacts" ng-if="p.me">
                        <h4 class="padding text-center white">{{p.name}}</h4>
                        <img ng-src="./images/{{p.photo}}" class="img-responsive img-circle padding" />
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="m in mailsTabs">
                            <h5 class="text-center"><a ng-href="{{m.link}}" class="white"><i class="{{m.icon}} blue"></i> {{ m.title }}</a></h5></li>
                    </ul>
                </div>
                <!--email-->
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 animated fadeIn">
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="i in inbox" class="inboxArea" ng-click="getIndex($index)" ng-class="{'mail-light': message==$index}">
                                <td>
                                    <strong>{{ i.title }}</strong>
                                    <br/>
                                    <strong class="gray">{{ i.from }}</strong>
                                </td>
                                <td><strong>{{ i.date }}</strong>
                                    <br/>
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-reply"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- view message -->
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mails ">
                    <div class="animated fadeIn inside" ng-repeat="i in inbox" ng-if="message==$index">
                        <h2>{{i.title}}</h2>
                        <h6>From: {{i.from}} <{{i.fromEmail}}></h6>
                        <hr/>
                        <p>{{i.message }}</p>
                        <div class="form-group">
                            <label for="comment">Reply:</label>
                            <textarea class="form-control" rows="5" id="comment" ng-model="yourModel" ng-virtual-keyboard="{forcePosition: 'bottom', size: 3, imageURI: 'images/keyboard.png'}" autoFocus></textarea>
                            <button class="btn btn-primary btn-md pull-right"><i class="fa fa-reply"> Reply</i></button>
                        </div>
                    </div>
                </div>
                <!--phone -->
                <div class="favorites" ng-controller="phone">
                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                        <h5 class="white">Contacts</h5>
                        <ul class="list-group">
                            <li class="list-group-item inboxArea" ng-repeat="x in contacts" ng-style="{'min-height': '30% !important'}">
                                <img ng-src="./images/{{x.photo}}" class="img-circle animated fadeIn" ng-style="{'width': '10%'}" />
                                <strong class="gray">{{ x.name }}</strong>
                                <div class="animated fadeIn pull-right">
                                    <button class="btn btn-primary btn-lg"><i class="fa fa-phone pull-right" ng-click="voice.speak('Call '+x.name+'?')"></i></button>
                                    <button class="btn btn-primary btn-lg"><i class="fa fa-envelope pull-right"></i></button>
                                    <button class="btn btn-primary btn-lg"><i class="fa fa-info pull-right"></i></button>
                                    <button class="btn btn-primary btn-lg" ng-click="deleteFavorites($index, contacts)"><i class="fa fa-times pull-right"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- keypad -->
                <div class="keypad" ng-controller="phone">
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                        <!-- keypad buttons -->
                        <h5 class="white">Keypad</h5>
                        <div class="input-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon2" />
                        </div>
                        <key-area number="{{x.num}}" ng-repeat="x in phone" ng-if="x.num>0" text="{{x.text}}"></key-area>
                        <key-area number="&#42;" ng-style="{'width': '100% !important'}"></key-area>
                        <key-area number="0" ng-style="{'width': '100% !important'}"></key-area>
                        <key-area number="&#35;" ng-style="{'width': '100% !important'}"></key-area>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary btn-lg" style="width: 203px; height:125px;">
                                <h1><i class="fa fa-phone"></i> Call</h1></button>
                            <button type="button" class="btn btn-primary btn-lg" style="width: 203px; height:125px;">
                                <h1><i class="fa fa-times"></i> End</h1></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
