<div class="container">
    <div class="row">
        <div class="mailAreas" ng-controller="mail">
            <div class="tabbing">
                <div class="col-md-2 col-lg-2">
                    <button class="btn btn-primary btn-lg">Compose</button>
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="m in mailsTabs">
                            <h3><a ng-href="{{m.link}}"><i class="{{m.icon}}"></i> {{ m.title }}</a></h3></li>
                    </ul>
                </div>
                <div class="col-md-10 col-lg-10 animated fadeIn">
                    <div class="menu-mail">
                        <button class="btn btn-primary btn-md">
                            <input type="checkbox" />
                        </button>
                        <button class="btn btn-primary btn-md"><i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr class="white">
                                <th>Select</th>
                                <th>From</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in inbox" class="inboxArea">
                                <td>
                                    <input type="checkbox" /> <i class="fa fa-star"></i></td>
                                <td><strong  ng-click="goTo('mail/message/'+$index)">{{ i.from }}</strong></td>
                                <td><strong  ng-click="goTo('mail/message/'+$index)">{{ i.title }}</strong></td>
                                <td>{{ i.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
